@custom-selector :--checkeable .checkbox-label, .radio-label;
@custom-selector :--hightlight :hover,:active;

.checkbox:checked + .primaryPlaylist-list {
  display: none;
}
:--checkeable {
  cursor: pointer;
  user-select: none;
  padding: 3px 7px;
  border: 1px solid color-mod(red alpha(10%));
  border-bottom: 3px solid color-mod(red alpha(20%));
  color: gray(1);
  font-size: 12px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

:--checkeable:--hightlight{
  background:red;
  color: var(--lightColor);
}